<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="base::header"></th:block>
    <title>Link Form</title>
</head>
<body>
<th:block th:replace="base::nav"></th:block>

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <form class="well form-horizontal"
                  action="#"
                  th:action="@{/addLink}"
                  method="post"
                  th:object="${aLink}">
                <legend>Add a Link</legend>


                <input type="hidden" th:field="*{id}"/>
                <!--Title-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input th:type="text" th:field="*{title}" placeholder="Title"/><br />
                            <span th:if="${#fields.hasErrors('title')}"
                                  th:errors="*{title}"></span><br />
                        </div>
                    </div>
                </div>
                <!--link-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input th:type="url" th:field="*{myLink}" placeholder="myLink"/><br />
                            <span th:if="${#fields.hasErrors('myLink')}"
                                  th:errors="*{myLink}"></span><br />
                        </div>
                    </div>
                </div>
                <!--UserName-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input th:type="text" th:field="*{userName}" placeholder="User Name"/><br />
                            <span th:if="${#fields.hasErrors('userName')}"
                                  th:errors="*{userName}"></span><br />
                        </div>
                    </div>
                </div>


                <!--buttons-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                        <button type="submit" value="Add Link" class="btn btn-primary">Save Link</button>
                        <button type="reset" value="Clear Form" class="btn btn-primary">Clear Form</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</header>
<th:block th:replace="base::script"></th:block>

</body>
</html>