<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="base::header"></th:block>
    <title>Link Form</title>
</head>
<body>
<th:block th:replace="base::nav"></th:block>

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <form class="well form-horizontal" action="#" th:action="@{/enterSearch}" method="post">

                <label>User Name: </label>
                <input type="text" name="searchName"/>

                <!--buttons-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                        <button type="submit" class="btn btn-primary">Search Name</button>
                        <button type="reset"  class="btn btn-primary">Clear Form</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</header>
    <th:block th:replace="base::script"></th:block>

</body>
</html>